{% extends "portal/base.html" %}

{% block title %}{{ survey.name }}{% endblock %}

{% block content %}

    <form method="post" action="{% url "survey_start" slug=survey.slug %}" class="text-left">

        {% csrf_token %}

        {% for question in questions %}
            <h3>{{ question.question_text }}</h3>
            <div class="row">
                <br>

                {% for choice in question.choice_set.all %}
                    <div class="col-lg-6">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input type="radio" name="ans-{{ question.slug }}"
                                       id="choice{{ forloop.counter }}"
                                       value="{{ choice.slug }}" />
                            </span>
                            <span class="form-control">
                                {{ choice.choice_text }}
                            </span>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <br><hr><br>
        {% endfor %}

        <input type="submit" value="Submit" class="btn btn-success"/>

    </form>


{% endblock %}
